<div class="col-md-6">


    <h2 style="color: white; text-align: center; ">Select you stat</h2>
    <form class="calculator-form" ng-app="calculatorApp" ng-controller="calculator">

       <div style="text-align: center; font-weight: bolder"  class="units">
           <a href="#" ng-click="units=1">USC UNITS</a>/
           <a href="#" ng-click="units=2">METRIC</a>
           </div>

        <div class="col-md-6">
        <div class="form-group">

            <label for="Gender">Gender</label>
            <select id="gender" name="gender" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
               </div>
        </div>

    {#    Grander end #}
        <div class="col-md-6">
      <div class="form-group">
        <label for="age">Age</label>
          <input type="text" class="form-control" id="age" name="age" placeholder="Years...">
              </div>
      </div>

    {#    Age end #}
        <div class="col-md-6">
        <div class="form-group">
            <label for="weight">Weigth</label>
            <div class="input-group">
                <input placeholder="Pounds" type="text" class="form-control" name="weight" id="weight"/>
            </div>
        </div>
            </div>

    {#    Weigth end #}
        <div class="col-md-6">
        <div class="form-group">
            <label for="height">Height</label>
            <div class="input-group">
                <input placeholder="Feet" type="text" id="feet" name="feet" class="form-control"/>
                <span class="input-group-addon" style="border-left: 0; border-right: 0;  "></span>
                <input placeholder="Inches" type="text" id="inch" name="inch" class="form-control" />
            </div>
        </div>
        </div>

    {#    Height end  #}

        <div class="col-md-6">
       <div class="form-group">
           <label for="activity">Activity</label>
            <select class="form-control" id="activity">
                <option value="">— Select from the dropdown —</option>
                <option value="1">Sedentary lifestyle</option>
                <option value="1.375">Slightly active</option>
                <option value="1.55">Moderately active</option>
                <option value="1.725">Active lifestyle</option>
                <option value="1.9">Very active lifestyle</option>
            </select>
        </div>
            </div>

        <div class="col-md-6">

        <div class="form-group">
           <label for="goal">You goal</label>
            <select class="form-control" id="goal">
                <option value="">— Select from the dropdown —</option>
                <option value="500">Gain weight</option>
                <option value="0">Maintain weight</option>
                <option value="-500">lose weight</option>

            </select>
        </div>
            </div>

    {#    Activity end #}
    {#<div class="row">#}
      <button type="submit" class="btn btn-danger count-it center-block">Calculate</button>
        <span class="calories">0</span> </button>
    {#    </div>#}
    </form>
</div>